<head>
  <title>KTControl</title>
  <link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon" />
  <style>
    body {
      box-sizing: border-box;
      margin: 0px;
    }

    .placeholder {
      display: flex;
      width: 50vw;
      justify-content: center;
      margin: 2vh 25vw;
    }
  </style>
</head>

<div class="placeholder">
  <h1>WELCOME TO MY WEBSITE 🥳</h1>
</div>
