@import url(./shared.css);

.employee-list {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.employee-name {
    font-size: 5rem;
}

#add-new-employee {
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--blue-dark);
}

#update-employee-password-modal .modal-button {
    height: 45px;
}

#update-employee-password-modal input:not(#confirm-change-employee-password-button) {
    width: calc(100vw / 3);
}

#update-employee-password-modal .modal-buttons {
    margin-top: 10px;
    gap: 15px
}

#update-employee-password-modal .modal-dialogue {
    height: 240px;
    padding: 20px
}