@import url("./shared.css");

.incentive-item-list {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
}

.incentive-item {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background: var(--green-light);
    font-size: 1.25rem;
    line-height: 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    white-space: nowrap;
    cursor: pointer;
    height: 100%;
}

.incentive-item-detail {
    font-weight: bold;
    color: var(--blue-dark);
}

.incentive-item-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px
}

.incentive-item-buttons button {
    background: transparent;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
}