@import url(./shared.css);

main {
    width: 100vw;
    height: 100vh;
    background: var(--background-gradient);
    overflow: scroll;
}

.logo {
    padding: 100px 0 50px 0;
    background: var(--solid-gradient);
    font-size: 13rem;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0 !important;
    font-family: 'Space Grotesk', sans-serif;
}

@media only screen and (max-width: 1020px) {
    .logo {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 630px) {
    .logo {
        font-size: 4rem;
    }
}