<%- include('../shared/head'); %>

<head>
    <link rel="stylesheet" href="/css/incentive.css"/>
</head>

<main>
    <%- include('../shared/nav', {title: "Incentive", link: "/"}) %>
    <div class="action-list">
        <a class="action" href="Incentive/items">Incentive Items</a>
        <a class="action">Incentive Details</a>
        <a class="action">Get Total Incentive</a>
    </div>
</main>