<%- include('../shared/head'); %>
<head>
    <link rel="stylesheet" href="/css/shared.css"/>
</head>
<%- include('../shared/nav', {title: "Attendance Dashboard", link: "/attendance"}) %>
<main class="action-list">
    <a class="action" href="/attendance/history">View History</a>
    <a class="action" href="/attendance/overtime">Approve Overtime</a>
    <a class="action" href="/attendance/dayOff">Add a Day Off</a>
</main>