<%- include('../shared/head'); %>
<head>
	<link rel="stylesheet" href="/css/shared.css" />
</head>
<body>
	<%- include('../shared/nav', {title: "Attendance", link: "/"}) %>
	<div class="action-list">
		<a class="action" href="Attendance/current-month">View Current Month</a>
		<a class="action" href="">View History</a>
		<a class="action" href="Attendance/generate-new">Generate New Month</a>
	</div>
</body>
