<%- include('../shared/head'); %>
<head>
    <link rel="stylesheet" href="/css/shared.css"/>
</head>
<body>
<%- include('../shared/nav', {title: "Attendance", link: "/"}) %>
<div style="margin: 50px">
    <b>to do list</b>
    <ol>
        <li>make an employee drop down by code</li>
        <li>make a result containing name / hours / rate</li>
        <li>fetch/create table for current month</li>
        <li>create submit functionality</li>
        <li>create a history function</li>
    </ol>
</div>
</body>
