<%- include('../shared/head'); %>
<head>
	<link rel="stylesheet" href="/css/shared.css" />
</head>
<body>
	<%- include('../shared/nav', {title: "Attendance", link: "/"}) %>
	<div class="action-list"></div><h1 style="display: flex; justify-content: center;">UNDER DEVELOPMENT</h1></div>
</body>
