<%- include('../shared/head'); %>
<head>
    <link rel="stylesheet" href="/css/shared.css"/>

</head>
<body>
<%- include('../shared/nav', {title: "Attendance", link: "/"}) %>
<div class="action-list">
    <a class="action" href="/attendance/employees">Employees Interface</a>
    <a class="action" href="/attendance/admin">Admin Dashboard</a>
</div>
</body>