<%- include('../shared/head'); %>
<head>
	<link rel="stylesheet" href="/css/shared.css" />
</head>
<%- include('../shared/nav', {title: "Add Bonus or Deduction", link:
"/bonuses"}) %>
<body>
	<form
		action="/bonuses"
		method="post"
		autocomplete="off"
		class="form-container"
	>
		<div class="entry">
			<label for="employee">Employee: </label>
			<select type="text" name="employee">
				<% employees.forEach(employee =>{ %>
				<option value="<%= employee%>"><%= employee%></option>
				<% }) %>
			</select>
		</div>
		<label>Entry Details: </label>
		<div class="entry">
			<select type="text" name="type">
				<option value="bonus">Bonus</option>
				<option value="deduction">Deduction</option>
			</select>
		</div>
		<div class="entry">
			<input
				type="number"
				id="amount"
				placeholder="Amount"
				min="1"
				name="amount"
			/>
		</div>
		<div class="entry">
			<input type="text" id="Comment" placeholder="comment" name="comment" />
		</div>
		<input type="submit" value="Submit" class="submit-button" />
	</form>
</body>
